@charset "UTF-8";
@font-face {
    font-family:'font1';
    src:url(font/LilitaOne-Regular.ttf) format(truetype);

}

* {
    margin: 0px;
}

body {
    background-color: rgb(255, 255, 255);
}

/*Abaixo são os estilos da área header*/

nav {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    padding: 3px 0px 0px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    position: absolute;
    
}

nav > a > img { 
    display: inline-block;
    height: 4vh;
    position: absolute;
    left: 5%;
    top: 27%;
    padding: 3px 110px 3px 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.336);
}

#cabeçalho {
    height: 40vh;
    background-image: url(image/img1c.png);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.342);
}

#cabeçalho > img {
    height: 35vh;
    position: absolute;
    left: 50%;
    top: 5%;
}

/*Abaixo são os estilos da área mai*/

main {
    height: 700px;
}

#area03 {
    background: linear-gradient(to bottom, #ffffff,#ffffff);
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

aside {
    display: flex;
    justify-content: center;
    flex-direction: rom;
    flex-wrap: wrap;  
}

div h1 { 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    padding: 0px 0px 10px 0px;
}


aside > div {
    width: 200px;
    max-height: 130px;

    background-color: rgba(85, 84, 84, 0);
    border: 1px solid rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    padding: 2px 0px 4px 8px;
    margin-left: 10px;
    margin: 5px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 2vw, 14px);
    font-weight: lighter;
    
}

/*Abaixo são os estilos da área footer*/

footer {
    margin:0px;
    padding: 5px 0px 5px 0px;
    background: #000000da;
    background-size: cover;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.356);

    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    
}

footer > a > img { 
    width: 70px;
    padding-bottom: 2px;
}



