@charset "UTF-8";
@font-face {
    font-family:'font1';
    src:url(font/LilitaOne-Regular.ttf) format(truetype);

}

* {
    margin: 0px;
}

/*Abaixo são os códigos da área header*/

header > nav {
    background: url(image/img1.png);
    padding: 5px 0px 1px 20px;
    border: 0,1px solid rgba(0, 0, 0, 0.356);
}

header > nav > a > img { 
    width: 100px;
}

div#fora {
    height: 40vh;;
    background: url(image/img1.png) center center fixed;
    background-size: cover;
    position: relative;
    box-shadow: inset 0px -1px 4px 0px black;
}

div#dentro {
    background: url(image/img2b.png) no-repeat;
    height: 40vh;
    position: relative;
    left:30%;
    top:0%;
}



