@charset "UTF-8";
@font-face {
    font-family:'font1';
    src:url(font/LilitaOne-Regular.ttf) format(truetype);

}

* {
    margin: 0px;
}

/*Abaixo são os códigos da área header*/

nav {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    padding: 3px 0px 0px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    position: absolute;
}

nav > a > img { 
    display: inline-block;
    width: 100px;
    padding-right: 110px;
}

div#fora {
    height: 40vh;
    background-image: url(image/img1b.png);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px -1px 4px 0px black;
}

div#fora > img {
    height: 40vh;
    background-size: cover;
    position: relative;
    left: 50%;
    top: 0%;
}



